<div class="flex justify-center gap-2 border border-gray-200 p-3 rounded">
  <%= form_with model: [license, License::User.new] do |form| %>
    <%= form.label :github_username, "Add your GitHub username to access the repository." %>
    <div class="flex items-center gap-2">
      <%= form.text_field :github_username, placeholder: "dhh", required: true, autofocus: true, class: "max-w-80" %>
      <%= form.submit "Add", class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
