<footer class="mt-8 p-8 border-t border-gray-200">
  <div class="max-w-5xl mx-auto">
    <p class="text-xs leading-5 text-gray-500 md:order-1 md:mt-0">© <%= Date.today.year %> <%= SellRepo.company_name %>. All rights reserved.</p>
  </div>
</footer>
