<%= link_to product, class: "no-underline text-center group border border-gray-200 rounded-md overflow-hidden hover:bg-gray-50 " do %>
  <figure class="group-hover:opacity-90">
    <%= featured_image product %>
  </figure>

  <div class="p-6">
    <h3 class="mt-1 text-xl font-bold text-gray-900">
      <%= product.name %>
    </h3>
    <div class="mt-1 text-gray-900">
      <%= pricing(product) %>
    </div>
  </div>
<% end %>
